{% extends "layout_flot.html" %}

{% block flot_head %}
{{ super() }}
<meta http-equiv="refresh" content="30" >
<script type="text/javascript">
$(function() {
    // Style for bars
    var data_points = {
        show: true,
        radius: 3,
    };

    var timelabel = "Zeit";
    var time = [ {% for line in data.list %}{{ line.time }}/60,{% endfor %} ];
    var t1_label = "Temperatur K1"
    var t1 = [ {% for line in data.list %}{{ line.tempk1 }},{% endfor %} ];
    var t2_label = "Temperatur K2"
    var t2 = [ {% for line in data.list %}{{ line.tempk2 }},{% endfor %} ];
    var sp_t1_label = "Zieltemperatur K1"
    var sp_t1 = [ {% for line in data.list %}{{ line.settempk1 }},{% endfor %} ];
    var sp_t2_label = "Zieltemperatur K2"
    var sp_t2 = [ {% for line in data.list %}{{ line.settempk2 }},{% endfor %} ];

    var tooltip = [ time, t1, t2, sp_t1, sp_t2];

    var t1_set = [], t2_set = [],
        sp_t1_set = [], sp_t2_set = [];

    for (var i = 0; i < time.length; i += 1 ) {
        t1_set.push([time[i], t1[i]]);
        t2_set.push([time[i], t2[i]]);
        sp_t1_set.push([time[i], sp_t1[i]]);
        sp_t2_set.push([time[i], sp_t2[i]]);
    }

    var data = [
        {color: "red",    points: data_points, data: t1_set,    label: t1_label},
        {color: "blue",   points: data_points, data: t2_set,    label: t2_label},
        {color: "green",  points: data_points, data: sp_t1_set, label: sp_t1_label},
        {color: "yellow", points: data_points, data: sp_t2_set, label: sp_t2_label},
    ];
    var options = {
        legend: { position: "se", show: true },
        series: {
            lines: { show: true, lineWidth: 1 },
            shadowSize: 0 
        },
        grid: { hoverable: true, clickable: true },
        xaxis: { min: 0, zoomRange: null, panRange: [0, null]},
        yaxis: { min: 0, zoomRange: [50, 100],  panRange: [0, 100]},
        zoom: { interactive: true },
        pan: { interactive: true }
    };
    var container = $("#placeholder");
    var plot = $.plot(container, data , options);

    bindTooltip(container, tooltip);

    addXAxis("Zeit [min]")
    addYAxis("Temperatur [°C]");
});
</script>
{% endblock %}
{% block body %}
    <div id="content">
    <div class="demo-container">
        <div id="placeholder" class="demo-placeholder"></div>
    </div>
    <p class="message"></p>
        <p>Zooming, Panning und Tooltips werden unterstützt. Aktuelle Datengröße ist {{ state.log_size }} Bytes.</p>
    </div>
    <form action="." method="POST">
      <button type="submit" name="btn_reset_graph" class="btn btn-warning" data-toggle="tooltip" title="Daten werden irreversibel gelöscht"><span class="glyphicon glyphicon-remove"></span> Graph zurücksetzen</button>
    </form>
{% endblock %}