{% extends "layout_flot.html" %}

{% block flot_head %}
{{ super() }}
<meta http-equiv="refresh" content="120" >
<script type="text/javascript">
$(function() {
    var timelabel = "Zeit";
    var time = [ {% for line in data.list %}{{ line.time }}/60,{% endfor %} ];
    var t1_label = "Temperatur K1"
    var t1 = [ {% for line in data.list %}{{ line.tempk1 }},{% endfor %} ];
    var t2_label = "Temperatur K2"
    var t2 = [ {% for line in data.list %}{{ line.tempk2 }},{% endfor %} ];
    var sp_t1_label = "Zieltemperatur K1"
    var sp_t1 = [ {% for line in data.list %}{{ line.settempk1 }},{% endfor %} ];
    var sp_t2_label = "Zieltemperatur K2"
    var sp_t2 = [ {% for line in data.list %}{{ line.settempk2 }},{% endfor %} ];

    var tooltip = [ time, t1, t2, sp_t1, sp_t2];

    var t1_set = [], t2_set = [],
        sp_t1_set = [], sp_t2_set = [];

    for (var i = 0; i < time.length; i += 1 ) {
        t1_set.push([time[i], t1[i]]);
        t2_set.push([time[i], t2[i]]);
        sp_t1_set.push([time[i], sp_t1[i]]);
        sp_t2_set.push([time[i], sp_t2[i]]);
    }

    var data = [
        {color: "#ff9999", lines: { show: true, lineWidth: 10 }, data: sp_t1_set, label: sp_t1_label},
        {color: "#9999ff", lines: { show: true, lineWidth: 10 }, data: sp_t2_set, label: sp_t2_label},
        {color: "red",    points: { show: true, radius: 3 }, data: t1_set, label: t1_label},
        {color: "blue",   points: { show: true, radius: 3 }, data: t2_set, label: t2_label},
    ];
    var options = {
        legend: { position: "se", show: true },
        series: {
            lines: { show: true, lineWidth: 1 },
            shadowSize: 0 
        },
        grid: { hoverable: true },
        pan: { interactive: true },
        selection: { mode: "xy" },
    };
    var container = $("#placeholder");
    var plot = $.plot(container, data , options);
    bindTooltip(container, tooltip);

    addXAxis("Zeit [min]")
    addYAxis("Temperatur [°C]");

    // Create the overview plot
    var overview = $.plot("#overview", data, {
      legend: { show: false },
      series: { lines: { show: true, lineWidth: 1 }, shadowSize: 0 },
      xaxis: { ticks: 4 },
      yaxis: { ticks: 3 },
      grid: { color: "#999" },
      selection: { mode: "xy" }
    });

    // now connect the two
    $("#placeholder").bind("plotselected", function (event, ranges) {

      // clamp the zooming to prevent eternal zoom
      if (ranges.xaxis.to - ranges.xaxis.from < 0.01) {
        ranges.xaxis.to = ranges.xaxis.from + 0.01;
      }

      if (ranges.yaxis.to - ranges.yaxis.from < 0.01) {
        ranges.yaxis.to = ranges.yaxis.from + 0.01;
      }

      // do the zooming
      plot = $.plot("#placeholder", data,
        $.extend(true, {}, options, {
          xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to },
          yaxis: { min: ranges.yaxis.from, max: ranges.yaxis.to }
        })
      );

      // don't fire event on the overview to prevent eternal loop
      overview.setSelection(ranges, true);
    });

    $("#overview").bind("plotselected", function (event, ranges) {
      plot.setSelection(ranges);
    });
    $("#whole").click(function () {
      $.plot("#placeholder", data , options);
    });
});
</script>
{% endblock %}
{% block body %}
  <div id="content">
    <div class="demo-container">
        <div id="placeholder" class="demo-placeholder" style="float:left; width:600px;"></div>
        <div id="overview" class="demo-placeholder" style="float:right;width:160px; height:125px;"></div>
    </div>
    <p class="message"></p>
        <p>Wähle ein Region im Graph um zu vergrößern. Aktuelle Datengröße ist {{ state.log_size }} Bytes.</p>
    <form action="." method="POST">
      <button id="whole" name="btn_reset_graph" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Graph zurücksetzen</button>
      <button type="submit" name="btn_delete_data" class="btn btn-warning" data-toggle="tooltip" title="Daten werden irreversibel gelöscht"><span class="glyphicon glyphicon-trash"></span> Lösche Daten</button>
    </form>
  </div>
{% endblock %}