<!doctype html>
<head>
    {% block head %}
    <title>Py Brew</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>

<div class=title>

<img src ="../static/kopfklein.jpg">
</div>



<div id="menu">



<ul>
<li><a class="active" href="{{ url_for('manage')    }}">Rezepte</a><br />
<li><a href="{{ url_for('edit')      }}">Eingabe</a><br />
<li><a href="{{ url_for('run')       }}">Start</a><br />
<li><a href="{{ url_for('graph')     }}">Graph</a><br />
</ul>

<br /><br />
<br /><br />
</div>








<div class=page>
{% if heading %}
    <h1>{{ heading }}</h1>
{% endif %}
{% block body %}{% endblock %}
</div>

<div class=footer>
	 <h4>© Schnipplberger</h4>
</div>
