<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="../../favicon.ico">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- link href="../static/css/bootstrap-theme.min.css" rel="stylesheet"-->

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <!-- link href="theme.css" rel="stylesheet" -->
    <!-- link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" -->

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    {% block head %}
    <title>Py Brew</title>
    {% endblock %}
  </head>
  <body>
    <div class=title>
      <img src="../static/kopfklein.jpg" class="img-responsive">
    </div>
    <div class="container">
      <ul class="nav nav-pills">
        <li role="presentation" {% if heading == 'Manage' %}class="active"{% endif%}><a href="{{ url_for('manage') }}">Rezepte</a></li>
        <li role="presentation" {% if heading == 'Edit' %}class="active"{% endif%}><a href="{{ url_for('edit') }}">Eingabe</a></li>
        <li role="presentation" {% if heading == 'Run' %}class="active"{% endif%}><a href="{{ url_for('run') }}">Start</a></li>
        <li role="presentation" {% if heading == 'Graph' %}class="active"{% endif%}><a href="{{ url_for('graph') }}">Graph</a></li>
        <li role="presentation" {% if heading == 'Table' %}class="active"{% endif%}><a href="{{ url_for('table') }}">Tabelle</a></li>
      </ul>
    </div>
    <br />
    <div class="container">
      {% block body %}
      {% endblock %}
    </div>
    <div class=footer>
      <h4>© Schnipplberger</h4>
    </div>
  </body>
</html>
