{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({
        placement : 'top'
    });
});
</script>
<form action="." method="POST" class="form-horizontal">

  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th colspan="2">Verfügbare Rezepte</th>
      </tr>
    </thead>
    <tbody>
      {% for fname in fnames %}
      <tr>
          <td class="col-xs-2">
            <div class="btn-group" role="group" aria-label="...">
              <button type="submit" name="s{{ loop.index0 }}" class="btn btn-success" data-toggle="tooltip" title="Auswählen"><span class="glyphicon glyphicon-ok"></span></button>
              <button type="submit" name="d{{ loop.index0 }}" class="btn btn-warning" data-toggle="tooltip" title="Löschen"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
          </td>
          <td lass="col-xs-10"><p class="form-control-static">{{ fname|replace("../recipes/", "")|replace(".rcp", "")|replace("_", " ") }}</p></td>
      </tr>
    {% else %}
        <em>No entries</em>
    {% endfor %}
    </tbody>
    <thead>
      <tr>
        <th><p class="form-control-static">Ausgewähltes Rezept</p></th>
        <th><p class="form-control-static">{{ selected|replace("../recipes/", "")|replace(".rcp", "")|replace("_", " ") }}</p></th>
      </tr>
    </thead>
  </table>
</form>
{% endblock %}