{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta http-equiv="refresh" content="5" >
{% endblock %}

{% block body %}
    {% if data %}
        <h2>Rezept: {{ data.name }}</h2>
        <br />
        Erstellt: {{ data.created }}<br />
        Letzte Änderung: {{ data.last_saved }}<br />

   <section class="linke-spalte">
        <h3>Einstellungen:</h3>
        <table>
        <tr>
        <td>Kochtemp. K1: {{ data.tempk1 }} °C</td>
        <td>Kochdauer K1: {{ data.durak1 }} s</td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        {% if data.method == 'K2' %}
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            {% for entry in data.list %}
                <tr>
                <td>Rasttemp. K2: {{ entry[0]|safe }} °C</td>
                <td>Rastdauer K2: {{ entry[1]|safe }} s</td>
                </tr>
            {% else %}
                <em>No entries</em>
            {% endfor %}
        {% endif %}
        </table>
        <br />

        Methode: {{ data.method }}
    {% endif %}
    </section>


<section class="rechte-spalte">
    {% if state %}
        <h3>Status:</h3>
        <table>
        <tr><td align="right">Temp K1: </td><td>{{'%0.1f' % state.tempk1 }} °C</td></tr>
        <tr><td align="right">Temp K2: </td><td>{{'%0.1f' % state.tempk2 }} °C</td></tr>
        <tr><td align="right">Temp K1 Offset: </td><td>{{'%0.1f' % state.tempk1_offset }} °C</td></tr>
        <tr><td align="right">Pumpe 1: </td><td>{{ state.pump1 }}</td></tr>
        <tr><td align="right">Pumpe 2: </td><td>{{ state.pump2 }}</td></tr>
        <tr><td align="right">Heizung: </td><td>{{ state.heater }}</td></tr>
        <tr><td></td></tr>
        </table>
    {% else %}
        <p>No current data available</p>
    {% endif %}
    <br />
</section>
    <form action="." method="POST">
        <input type="submit" name="submit" value="Start">
        <input type="submit" name="submit" value="Stop">
        <input type="submit" name="submit" value="Reset Graph">
        <input type="submit" name="submit" value="+ 0.2 deg">
        <input type="submit" name="submit" value="- 0.2 deg">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
