{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    {% if state.pct_state == "Waiting" or state.pct_state == "Running" %}<meta http-equiv="refresh" content="5" >{% endif %}
    {% if state.pct_state == "Idle" or state.pct_state == "Not running" %}<meta http-equiv="refresh" content="30" >{% endif %}

    <link rel="stylesheet" media="all" type="text/css" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" media="all" type="text/css" href="../static/plugins/timepicker/jquery-ui-timepicker-addon.css" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../static/plugins/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="../static/plugins/timepicker/i18n/jquery-ui-timepicker-addon-i18n.min.js"></script>
    <script type="text/javascript" src="../static/plugins/timepicker/jquery-ui-sliderAccess.js"></script>
    <script type="text/javascript" src="https://sellfy.com/js/api_buttons.js"></script>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th colspan="4">Rezept</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name</td><td>{{ data.name }}</td>
          </tr>
          <tr>
            <td>Erstellt</td><td>{{ data.created }}</td>
          </tr>
          <tr>
            <td>Letzte Änderung</td><td>{{ data.last_saved }}</td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th colspan="4">Einstellungen</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Kochtemp. K1</td><td>{{ data.tempk1 }} °C</td>
            <td>Kochdauer K1</td><td>{{ data.durak1 }} s</td>
          </tr>
          {% if data.method == 'K2' %}
          {% for entry in data.list %}
            <tr>
              <td>Rasttemp. K2</td><td>{{ entry[0]|safe }} °C</td>
              <td>Rastdauer K2</td><td>{{ entry[1]|safe }} s</td>
            </tr>
          {% else %}
            <em>No entries</em>
          {% endfor %}
          {% endif %}
          <tr>
            <td>Methode</td>
            <td colspan="3">{{ data.method }}</td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
        </tbody>
      </table>
      <form action="." method="POST">
        <input type="submit" name="submit" class="btn btn-default" value="Starte um" {% if state.pct_state == "Waiting" or state.pct_state == "Running" %}disabled{% endif %}>
        <input type="text" name="start_time" id="basic_example_2" value="{{ start_at }}" />
        <script type="text/javascript">
          $('#basic_example_2').timepicker();
        </script>
        <br/><br/>
        <input type="submit" name="submit" class="btn btn-default" value="Start" {% if state.pct_state == "Waiting" or state.pct_state == "Running" %}disabled{% endif %}>
        <input type="submit" name="submit" class="btn btn-default" value="Stop">
        <input type="submit" name="submit" class="btn btn-default" value="+ 0.2 deg">
        <input type="submit" name="submit" class="btn btn-default" value="- 0.2 deg">
        <input type="submit" name="submit" class="btn btn-warning" value="Reset Graph">
      </form>
    </div>
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th colspan="4">Status</th>
          </tr>
        </thead>
        {% if state %}
        <tbody>
          <tr>
            <td>Temp K1</td><td>{{'%0.1f' % state.tempk1 }} °C</td>
            <td>Temp K2</td><td>{{'%0.1f' % state.tempk2 }} °C</td>
          </tr>
          <tr>
            <td>Pumpe 1</td><td>{{ state.pump1 }}</td>
            <td>Pumpe 2</td><td>{{ state.pump2 }}</td>
          </tr>
          <tr>
            <td>Temp K1 Offset</td><td>{{'%0.1f' % state.tempk1_offset }} °C</td>
            <td>Heizung</td><td>{{ state.heater }}</td>
          </tr>
        </tbody>
      {% else %}
        <p>No current data available</p>
      {% endif %}
      </table>
      <table class="table">
        <thead>
          <tr>
            <th colspan="4">Debug</th>
          </tr>
        </thead>
        {% if state %}
        <tbody>
          <tr>
            <td>Set Temp K1</td><td>{{'%0.1f' % state.settempk1 }} °C</td>
            <td>Set Temp K2</td><td>{{'%0.1f' % state.settempk2 }} °C</td>
          </tr>
            <td>Set Dura K1</td><td>{{'%0.1f' % state.setdurak1 }} s</td>
            <td>Set Dura K2</td><td>{{'%0.1f' % state.setdurak2 }} s</td>
          </tr>
          <tr>
            <td>ProcControl</td><td>{{ state.pct_state }} {{ state.pct_state_min_to_wait }}</td>
            <td>Simulation</td><td>{{ state.simulation }}</td>
          </tr>
          <tr>
            <td>TempMon</td><td>{{ state.tmt_state }}</td>
            <td>WorkQueue</td><td>{{ state.wqt_state }}</td>
          </tr>
          <tr>
            <td>DataLogger</td><td>{{ state.dlt_state }}</td>
            <td>BlubberManager</td><td>{{ state.bm_state }}</td>
          </tr>
          <tr>
            <td>Cook State</td><td colspan="3">{{ state.cook_state }}</td>
          </tr>
        </tbody>
      {% else %}
        <p>No current data available</p>
      {% endif %}
      </table>
    </div>
  </div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
  {% endwith %}
{% endblock %}
