body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: black;
    background-color: #F92C2C;
}

.nav-pills a {
    color:black;
}

.linke-spalte   { width: 60%; float: left; margin: 5% 1% 4% 1%; }
.rechte-spalte  { width: 36%; float: right; margin: 5% 1% 4% 1%; text-align: left; }

.title          { width: auto; background-color: #de0000; text-align: center; border: 3px solid #eee; }

.footer         { width: auto; background-color: #de0000; clear: both; text-align: center; }

.menu           { background-color: #eee; height: auto; width: 200px; float: left; font-size: 1.2em}

.page           { margin: 5px 3pt 5px 5px; background: white; 
                   }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.3em; margin: 0; }
.noerror        { background: #99FF66; padding: 0.3em; margin: 0; }
.unknown        { background: #FF9966; padding: 0.3em; margin: 0; }